trigger:
  batch: true

variables:
  testConfiguration: 'Debug'

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: UseDotNet@2
    displayName: 'Install .NET Core 3'
    inputs:
      version: 3.1.x
  - task: DotNetCoreCLI@2
    displayName: 'Restore'
    inputs:
      command: restore
      arguments: --locked-mode
  - task: DotNetCoreCLI@2
    displayName: 'Build Debug'
    inputs:
      command: build
      arguments: --no-restore --configuration Debug
  - task: DotNetCoreCLI@2
    displayName: 'Build Release'
    inputs:
      command: build
      arguments: --no-restore --configuration Release
  - task: DotNetCoreCLI@2
    displayName: 'Test Debug'
    inputs:
      command: test
      projects: 'WalletWasabi.Tests/WalletWasabi.Tests.csproj'
      arguments: --configuration $(testConfiguration) --filter "UnitTests" --logger "console;verbosity=detailed"
