variables:
  testConfiguration: 'Debug'

jobs:
- job: macOS
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      arguments: --configuration Debug
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      arguments: --configuration Release
  - task: DotNetCoreCLI@2
    inputs:
      command: test
      projects: 'WalletWasabi.Tests/WalletWasabi.Tests.csproj'
      arguments: --configuration $(testConfiguration) --filter "CryptoTests | ExtPubKeyExplorerTests | KeyManagementTests | ModelTests | StoreTests | ParserTests"
