variables:
  testConfiguration: 'Debug'

jobs:
- job: macOS
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - task: UseDotNet@2
    displayName: 'Install .NET Core 2'
    inputs:
      version: 2.x
  - task: UseDotNet@2
    displayName: 'Install .NET Core 3'
    inputs:
      version: 3.x
  - task: DotNetCoreCLI@2
    displayName: 'Build Debug'
    inputs:
      command: build
      arguments: --configuration Debug
  - task: DotNetCoreCLI@2
    displayName: 'Build Release'
    inputs:
      command: build
      arguments: --configuration Release
  - task: DotNetCoreCLI@2
    displayName: 'Test Debug'
    inputs:
      command: test
      projects: 'WalletWasabi.Tests/WalletWasabi.Tests.csproj'
      arguments: --configuration $(testConfiguration) --filter "UnitTests"
