trigger:
  batch: true

variables:
  testConfiguration: 'Debug'

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: UseDotNet@2
    displayName: 'Install .NET'
    inputs:
      version: 8.0.x
  - task: DotNetCoreCLI@2
    displayName: 'Remove iOS project'
    inputs:
      command: 'custom'
      custom: 'sln'
      arguments: 'remove WalletWasabi.Fluent.iOS/WalletWasabi.Fluent.iOS.csproj'
  - task: DotNetCoreCLI@2
    displayName: 'Workloads'
    inputs:
      command: 'custom'
      custom: 'workload'
      arguments: 'install android'
  - task: DotNetCoreCLI@2
    displayName: 'Restore'
    inputs:
      command: 'restore'
      restoreArguments: '--force --locked-mode'
      feedsToUse: 'config'
      nugetConfigPath: 'NuGet.Config'
  - task: DotNetCoreCLI@2
    displayName: 'Build Debug'
    inputs:
      command: build
      arguments: --no-restore --configuration Debug
  - task: DotNetCoreCLI@2
    displayName: 'Build Release'
    inputs:
      command: build
      arguments: --no-restore --configuration Release
  - task: DotNetCoreCLI@2
    displayName: 'Test Debug'
    inputs:
      command: test
      projects: 'WalletWasabi.Tests/WalletWasabi.Tests.csproj'
      arguments: --configuration $(testConfiguration) --filter "UnitTests" --logger "console;verbosity=detailed" --collect:"XPlat Code Coverage"
      publishTestResults: true
