<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AvaloniCI" value="https://www.myget.org/F/avalonia-ci/api/v2" />
    <add key="XamlBehaviors" value="https://www.myget.org/F/xamlbehaviors-nightly/api/v2" />
    <add key="DockNightly" value="https://www.myget.org/F/dock-nightly/api/v2" />
  </packageSources>
</configuration>