
/* Hide default radiobutton layout */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  color: #868e96;
}

input[type=radio]:checked + label{
  color: #007bff;
}

label + input[type=radio] + label {
  border-left: solid 2px #c2c6ca;
}

.radio-group {
  display: inline-block;
  margin: 20px 0px 20px 0px;
  overflow: hidden;
}
