<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainAppShortcut"/>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\WalletWasabi.Gui\bin\dist\win7-x64\">
      <Component Id="MainAppShortcut" Guid="{50CAF59B-0B66-4CA3-8D92-C96591A707AD}" Win64="yes">
        <Shortcut 
          Id="MainAppShortcut" 
          Name="!(loc.ProductName)"
          Target="[INSTALLFOLDER]Wasabi Wallet.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico"
          />
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>        
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
