<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
          <Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductNameFolder)" />
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder">
        
      </Directory>
    
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>
