body {
  overflow-x: hidden;
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-underline {
  position: relative;
}

.box-shadow-lg {
  box-shadow: 0 0 50px rgba(0,0,0,.23);
}
.box-shadow {
  box-shadow: 0 0 30px rgba(0,0,0,.23);
}

.arrow-right {
  position: relative;
}

.arrow-right::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: url("../images/icon-long-arrow.svg");
  left: calc(100% + 20px);
}

section {
  position: relative;
}

.shader {
  position: absolute;
  z-index: -1;
  top: 0;
}

/* Make navbar toggler work on mobile devices without Bootstrap JS */
#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}


header {
  position: relative;
}

header .navbar {
  max-width: 900px;
  box-shadow: 0 2px 30px rgba(90, 80, 90, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
}

header .navbar .nav-link {
  color: #fff;
}

.hero .hero-image {
  height: 100vh;
  width: 100%;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
}

.hero .download-links .download-link {
  display: inline-block;
}
.hero .shader {
  right: -10%;
  top: calc(50% - 60px);
  transform: translateY(calc(-50% + 120px));
}

/* Features Section */

.features {
  background: #FFFFFF;
  border-radius: 6px;
  transform: translateY(-50%);
  width: 100%;
  max-width: 1100px;
}


/* CoinJoins Section */

.coinjoins .illustration {
  width: 100%;
  height: auto;
  transform: translateY(-12.5rem);
}

.coinjoins .coinjoin-txs .tx {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: .8;
}

.coinjoins .shader {
  width: 50vw;
  top: -10%;
  left: -10%;
}

/* Download Section */

.download .screenshot {
  width: 100%;
}

.download .shader {
  width: 50vw;
  top: -30%;
  right: -10%;
}

/* FAQ section */

.faq .shader {
  width: 80vw;
  top: -40%;
  left: -20%;
}

/* Footer Section */

.footer hr {
  display: block;
  width: 100%;
  border-bottom: 1px dashed rgba(255,255,255,0.2);
}
