@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.regular.otf');
    font-weight: normal;
}
@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.medium.otf');
    font-weight: medium;
}
@font-face {
    font-family: Objectivity;
    src: url('../fonts/objectivity.bold.otf');
    font-weight: bold;
}
:root {
    --black: #00101F;
    --green: #77C600;
    --gray: #9DA8AB;
    --blue: #002647;
    --light-blue: #00BBC4;
    --border-radius: 15px;
    --light-gray: rgb(73, 88, 107);
}
body {
    color: #fff;
    font-family: Objectivity;
    line-height: 1em;
    background: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: var(--green);
}
p {
    font-weight: medium;
    line-height: 1.7em;
}
p a, .list a {
    color: var(--green);
}
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 0;
    z-index: 900;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    z-index: 800;
    background: rgba(0, 16, 31, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
nav > ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    list-style: none;
    line-height: 2.4em;
    padding-left: 40px;
    text-transform: uppercase;
}
nav > ul > li > ul {
    list-style: none;
    font-size: 80%;
    line-height: 1.8em;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
nav > ul > li > ul > li:before {
    content: "\25A0";
    color: var(--green);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
nav a {
    color: var(--gray);
}
.nav-trigger {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.nav-trigger:hover + nav, nav:hover {
    opacity: 1;
    visibility: visible;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.squared {
    position: relative;
    padding-left: 40px;
}
.squared:before {
    content: '';
    width: 18px;
    height: 18px;
    background: var(--green);
    position: absolute;
    top: 4px;
    left: 0;
}
.social-icons {
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 900;
}
.social-icons li {
    list-style: none;
    margin: 0 5px;
    width: 20px;
    height: 20px;
}
.social-icons svg {
    width: 100%;
    height: 100%;
    fill: #9da8ab;
}
.social-icons a:hover > svg {
    fill: var(--green);
}
.video-homepage {
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 600px;
}
.video-homepage video, .video-homepage .mobile_video_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
video::-webkit-media-controls-panel {
    display: none;
    -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
    display: none;
    -webkit-appearance: none;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
    -webkit-appearance: none
}
video::-webkit-media-controls {
    display: none;
    -webkit-appearance: none;
}
.download-btn-area {
    position: absolute;
    left: calc((100% - var(--breakpoint)) / 2);
    top: calc(50% + 30px);
    transform: translateY(-50%);
}
.download-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 38, 71, 1) 100%);
    opacity: 0.44;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.download-btn {
    color: var(--black);
    margin-bottom: 10px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    height: 70px;
    width: 300px;
    align-items: center;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 10px;
}
.download-btn:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    top: 0;
    right: -20px;
}
.download-btn div {
    position: relative;
    z-index: 2;
    padding: 20px 140px 15px 15px;
    opacity: 1;
    font-size: 20px;
    line-height: 0.8em;
    border-radius: 10px;
    font-weight: bold;
    color: var(--blue);
}
.download-btn span {
    display: block;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.44;
}
.download-btn div:after {
    content: '';
    width: 50px;
    height: 50px;
    background: url('../img/download_arrow.svg') #fff center center;
    background-size: 60%;
    background-repeat: no-repeat;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    border-radius: 10px;
}
.download-btn ul {
    position: absolute;
    transform: translateX(calc(100% + 20px));
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    font-size: 14px;
}
.download-btn ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 38, 71, 1) 100%);
    z-index: 1;
    opacity: 0.44;
    border-radius: 10px;
}
.download-btn ul li {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}
.download-btn ul li a {
    color: var(--blue);
}
.download-btn ul li a:hover {
    color: var(--green);
}
.download-btn ul li img {
    margin-right: 20px;
}
.download-btn:hover > ul {
    opacity: 1;
    visibility: visible;
}
.home {
    background: var(--light-gray);
    background: linear-gradient(143deg, rgba(73, 88, 107, 1) 0%, rgba(0, 16, 31, 1) 55%);
}
.privacy {
    height: 100vh;
    position: relative;
    background: var(--light-gray);
    background: linear-gradient(143deg, rgba(73, 88, 107, 1) 0%, rgba(0, 16, 31, 1) 55%);
}
.privacy .title {
    padding: 120px 0;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.privacy .privacy-desc {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 50%;
    text-align: right;
}
.privacy:hover .privacy-title {
    opacity: 1;
    transform: translateY(0);
}
.title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2em;
}
.green-text {
    color: var(--green);
}
.service-line {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    border-bottom: 1px solid var(--light-gray);
    text-transform: uppercase;
}
.service-line:first-child {
    border-top: 1px solid var(--light-gray);
}
.service-line:nth-child(odd) {
    direction: rtl;
}
.service {
    position: relative;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-height: 340px;
}
.service:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 16, 31, 0.8);
    z-index: 1;
}
.service-link-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.service a {
    color: var(--green);
    display: block;
    padding: 160px 0;
}
.service-line .service:nth-child(2) a {
    color: #fff;
}
.service:hover a {
    color: #fff;
}
.service:hover + .service a {
    color: var(--green);
}
.service-about {
    background-image: url('../img/01_About_us.png');
    width: 75%;
    color: #fff;
}
.service-wallet {
    width: 25%;
}
.service-blog {
    width: 25%;
}
.service-contribution {
    background-image: url('../img/06_contribution.png');
    width: 75%;
}
.service-support {
    background-image: url('../img/04_support.png');
    width: 75%;
}
.service-presskit {
    width: 25%;
}
.service-wallet:hover {
    background-image: url('../img/05_wallet.png');
    width: 75%;
}
.service-wallet:hover + .service-about {
    width: 25%;
    background: transparent;
}
.service-blog:hover {
    width: 75%;
    background-image: url('../img/02_Blog.png');
}
.service-blog:hover + .service-contribution {
    width: 25%;
    background: transparent;
}
.service-presskit:hover {
    background-image: url('../img/03_press_kit.png');
    width: 75%;
}
.service-presskit:hover + .service-support {
    width: 25%;
    background: transparent;
}
footer {
    padding: 20px 0;
    line-height: 1.8em;
    position: relative;
    z-index: 2;
    background: var(--black);
}
footer, footer a {
    color: var(--gray);
    font-size: 14px;
}
footer .white-text {
    font-size: 16px;
}
.white-text {
    color: #fff;
}
.fixed-heading {
    padding-top: 50vh;
}
.fixed-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.fixed-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 2;
}
.p-100 {
    padding: 50px 0;
}
.p-100:first-child {
    padding-top: 100px;
}
.subpage {
    background: linear-gradient(160deg, rgba(73, 88, 107, 1) 0%, rgba(0, 16, 31, 1) 55%);
}
.white-fill svg {
    fill: #fff;
}
.white-bg {
    background: #fff;
    color: var(--black);
}
.feature-box {
    background: #F8F8F8;
    padding: 20px 40px;
    color: var(--blue);
}
.feature-box .title {
    font-size: 24px;
}
.faq-box {
    background: #F8F8F8;
    padding: 40px;
}
.faq-box p {
    color: #004178;
    padding-left: 40px;
}
.faq-box table {
    color: var(--green);
    margin: 40px;
}
.support-box {
    background: rgb(226, 226, 226);
    background: linear-gradient(58deg, rgba(226, 226, 226, 1) 0%, rgba(232, 232, 232, 1) 19%, rgba(249, 249, 249, 1) 66%, rgba(255, 255, 255, 1) 100%);
    border-radius: var(--border-radius);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 14px;
    position: relative;
}
.support-box img {
    display: block;
    margin: 10px auto 20px;
    width: 50%;
}
.support-box a {
    color: var(--black);
}
.main-img {
    position: relative;
    padding: 100px 0 0;
}
.main-img > img {
    position: absolute;
    z-index: 1;
    height: 100%;
    object-fit: cover;
    top: 0;
}
.main-img-content {
    position: relative;
    z-index: 2;
}
.about-cubes .cube {
    position: absolute;
    background: url('../img/01_About_us.png') fixed no-repeat #fff;
    background-size: cover;
    background-position: center center;
}
.about-cubes .cube:first-child {
    width: 13px;
    height: 13px;
    top: 57%;
    left: 18%;
}
.about-cubes .cube:nth-child(2) {
    width: 55px;
    height: 55px;
    top: 31%;
    left: 20%;
}
.about-cubes .cube:nth-child(3) {
    width: 21px;
    height: 21px;
    top: 31%;
    left: 27%;
}
.about-cubes .cube:nth-child(4) {
    width: 21px;
    height: 21px;
    top: -12%;
    left: 73%;
}
.about-cubes .cube:nth-child(5) {
    width: 100px;
    height: 100px;
    top: -31%;
    left: 78%;
}
.about-cubes .cube:nth-child(6) {
    width: 16px;
    height: 16px;
    top: -10%;
    left: 91%;
}
.about-cubes .cube:nth-child(7) {
    width: 50px;
    height: 50px;
    top: 8%;
    left: 84%;
}
.wallet-cubes .cube {
    position: absolute;
    background: url('../img/05_wallet.png') fixed no-repeat #fff;
    background-size: cover;
    background-position: center center;
}
.wallet-cubes .cube:first-child {
    width: 33px;
    height: 33px;
    top: 20%;
    left: 94%;
}
.wallet-cubes .cube:nth-child(2) {
    width: 78px;
    height: 78px;
    top: 59%;
    left: 43%;
}
.wallet-cubes .cube:nth-child(3) {
    width: 161px;
    height: 161px;
    top: 33%;
    left: 62%;
}
.wallet-cubes .cube:nth-child(4) {
    width: 32px;
    height: 32px;
    top: 108%;
    left: 40%;
}
.wallet-cubes .cube:nth-child(5) {
    width: 34px;
    height: 34px;
    top: 95%;
    left: 51%;
}
.wallet-cubes .cube:nth-child(6) {
    width: 78px;
    height: 78px;
    top: 101%;
    left: 77%;
}
.wallet-cubes .cube:nth-child(7) {
    width: 18px;
    height: 18px;
    top: 143%;
    left: 88%;
}
.wallet-cubes .cube:nth-child(8) {
    width: 77px;
    height: 77px;
    top: 145%;
    left: 54%;
}
.wallet-cubes .cube:nth-child(9) {
    width: 17px;
    height: 17px;
    top: 176%;
    left: 54%;
}
.wallet-cubes .cube:nth-child(10) {
    width: 17px;
    height: 17px;
    top: 183%;
    left: 47%;
}
.cube_bg_2 {
    position: absolute;
    top: 20%;
    right: 0;
    width: 60%;
}
.home-text-area {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}
.home-text-area h1 {
    font-size: 60px;
}
/* ExitPopup without js
.exitpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 320px;
    height: 320px;
    padding: 40px 0;
    border-radius: var(--border-radius);
    z-index: 1000;
    color: var(--black);
    text-align: center;
    display: none;
}
body:not(:hover) .exitpopup {
    display: block;
}
*/

.donwload-icons {
    margin: 0;
    padding: 0;
}
.donwload-icons li {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}
.lh {
    line-height: 1.5em;
}
.example-coinjoin {
    background: var(--black);
    color: #fff;
    border-radius: var(--border-radius);
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
    line-height: 2em;
    margin: 40px 0;
}
.coinjoin-title {
    font-weight: bold;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.coinjoin-line {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--green);
}
.coinjoin-line a {
    width: calc(100% - 30px);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding-top: 5px;
}
.coinjoin-line:before {
    content: '';
    background: url('../img/icon-external.svg') center center no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-top: 5px;
}
.coinjoin-line:last-child {
    border: none;
}
.example-coinjoin svg #signal-1, .example-coinjoin svg #signal-2 {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite
}
.example-coinjoin svg #signal-1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}
.example-coinjoin svg #signal-2 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}
@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
.btn {
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
}
.btn-download {
    font-size: 20px;
    padding: 15px 25px 9px;
}
.btn-download svg {
    fill: #FFF;
    height: 26px;
    margin-left: 5px;
}
.btn-primary:hover {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}
.donwload-icons svg {
    fill: #fff;
}
.donwload-icons svg:hover {
    fill: var(--green);
}
.download-mac, .download-windows, .download-linux, .download-other {
    padding: 20px;
}
.download-box {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid var(--light-gray);
}
.download-box:last-child {
    border-right: 0;
}
.download-box svg {
    height: 40px;
    width: 40px;
    margin: 40px auto;
}
.download-box:hover {
    background-color: rgb(73, 88, 107, 0.2);
}
.list {
    line-height: 1.7em;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    padding-left: 20px;
}
ol {
    line-height: 1.7em;
    margin: 20px 0;
    padding: 0;
    padding-left: 20px;
}
.list li, ol li {
    margin: 15px 0;
}
ol li::marker {
    color: var(--green);
}
.list li:before {
    content: "\25A0";
    color: var(--green);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.versions input, .versions .v-text {
    position: absolute;
    top: 0;
}
.versions label {
    display: block;
}
.versions .v-text {
    cursor: pointer;
}
.versions .v-text img {
    height: 28px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.versions label:first-child input {
    left: calc(50% - 220px);
}
.versions label:first-child .v-text {
    left: calc(50% - 200px);
}
.versions label:nth-child(2) input {
    left: calc(50% + 40px);
}
.versions label:nth-child(2) .v-text {
    left: calc(50% + 60px);
}
.version-content {
    display: none;
    left: 0;
    top: 50px;
    border-top: 1px dashed var(--light-gray);
    padding-top: 40px;
}
.version-select:checked + .version-content {
    display: block;
}
.versions {
    position: relative;
    padding-top: 70px;
}
.small-text {
    font-size: 12px;
}
.muted-text {
    opacity: 0.5;
}
@media (min-width: 576px) {
    body {
        --breakpoint: 540px;
    }
}
@media (min-width: 768px) {
    body {
        --breakpoint: 720px;
    }
}
@media (min-width: 992px) {
    body {
        --breakpoint: 960px;
    }
}
@media (min-width: 1200px) {
    body {
        --breakpoint: 1140px;
    }
}
@media (min-width: 1400px) {
    body {
        --breakpoint: 1320px;
    }
}
@media only screen and (max-width: 1199px) {
    .about-cubes, .wallet-cubes {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 24px;
    }
    nav {
        width: 80vw;
    }
    .logo img {
        width: 120px;
    }
    .video-homepage video, .video-homepage .mobile_video_bg {
        height: 100vh;
        object-fit: cover;
    }
    .home-text-area {
        left: calc((100% - var(--breakpoint)) / 2);
    }
    .download-btn-area {
        position: absolute;
        left: calc((100% - var(--breakpoint)) / 2);
        transform: scale(0.65) translateX(-26%) translateY(-50%);
    }
    .download-btn div {
        padding-right: 70px;
    }
    .download-btn ul {
        padding: 5px;
    }
    .download-btn ul li img {
        margin-right: 10px;
        width: 20px;
    }
    nav > ul {
        font-size: 18px;
    }
    .privacy .title {
        font-size: 25px;
        line-height: 1em;
        padding: 60px 0;
    }
    .privacy .privacy-desc {
        width: 70%;
    }
    .service-line {
        font-size: 20px;
        display: block;
    }
    .service {
        min-height: 200px;
        width: 100% !important;
    }
    .service a {
        padding: 100px 0;
    }
    .support-box {
        padding: 5px;
        font-size: 12px;
    }
    .faq-box p {
        padding-left: 0;
        text-align: justify;
    }
    .faq-box table {
        width: 100%;
        margin-left: 0;
        font-size: 12px;
    }
    .subpage p {
        text-align: justify;
    }
    .fixed-img img {
        object-fit: cover;
        height: 60vh;
    }
    .download-box {
        border: none;
    }
    .download-mac {
        border-bottom: 1px solid var(--light-gray);
        border-right: 1px solid var(--light-gray);
        border-radius: var(--border-radius) 0 0 0;
    }
    .download-windows {
        border-bottom: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        border-radius: 0 var(--border-radius) 0 0;
    }
    .download-linux {
        border-top: 1px solid var(--light-gray);
        border-right: 1px solid var(--light-gray);
        border-radius: 0 0 0 var(--border-radius);
    }
    .download-other {
        border-top: 1px solid var(--light-gray);
        border-left: 1px solid var(--light-gray);
        border-radius: 0 0 var(--border-radius) 0;
    }
}
@media only screen and (max-width: 600px) {
    .download-btn-area {
        transform: scale(0.55) translateX(-40%) translateY(-50%);
    }
    .home-text-area, .download-btn-area {
        left: 20px;
    }
    .title {
        font-size: 24px;
    }
    .versions .v-text {
        text-align: center;
    }
    .versions .v-text img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .version-content {
        margin-top: 20px;
    }
    .versions label:first-child .v-text {
        left: 25%;
        transform: translateX(-50%);
        width: 50%;
    }
    .versions label:first-child input {
        left: 50%;
        transform: translateX(-80%);
        width: 50%;
        top: 7px;
    }
    .versions label:nth-child(2) .v-text {
        left: 75%;
        transform: translateX(-50%);
        width: 50%;
    }
    .versions label:nth-child(2) input {
        left: 75%;
        transform: translateX(-25%);
        width: 50%;
        top: 7px;
    }
}
@media only screen and (max-width: 400px) {} @media only screen and (max-width: 320px) {
    .logo img {
        width: 80px;
    }
    .download-btn-area {
        transform: scale(0.5) translateX(-50%) translateY(-50%);
    }
}
