<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.wasabiwallet.android.uiqualification" android:versionCode="1" android:versionName="1">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <instrumentation android:name="io.wasabiwallet.android.tests.ReleaseUiInstrumentation" android:targetPackage="io.wasabiwallet.android.personal" />
  <application android:allowBackup="false" android:label="Wasabi release UI qualification" />
</manifest>
