name: Add issues to project board

on:
  issues:
    types:
      - opened
      - reopened

permissions: {}
jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/zkSNACKs/projects/18
          github-token: ${{ secrets.AUTO_ADD_TO_PROJECT_TOKEN }}